<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/OpenCATS/Tests/bootstrap.php">
  <testsuites>
    <testsuite name="UnitTests">
      <directory>src/OpenCATS/Tests/UnitTests</directory>
    </testsuite>
    <testsuite name="IntegrationTests">
      <directory>src/OpenCATS/Tests/IntegrationTests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Define HTML_ENCODING for PHPUnit because config.php is not loaded in unit tests. -->
    <const name="HTML_ENCODING" value="UTF-8"/>
  </php>
</phpunit>
